html, body {
    margin: 10px;
    padding: 10px;
    background: url("images/sand-hollow-course.jpeg") no-repeat center center fixed;
    font-family: 'Archivo Narrow', sans-serif;
}

table {
    background-color: white;
    opacity: 0.7;
}

th, td {
    text-align: center;
}


#titlebar { 
    text-align: center;
    background: white;
    opacity: 0.9;
    padding: 10px 0;
    color: #577377;
    font-size: 2.75em;
    margin: 10px 0;
    width: 100%;
}
label {
    color: #a5c442;
    background-color: white;
    opacity: 0.9;
    padding: 10px 5px;
}