html, body {
    margin: 10px;
    padding: 10px;
    background: url("images/sand-hollow-course.jpeg") no-repeat center center fixed;
    font-family: 'Archivo Narrow', sans-serif;
    color: #a9643b;
}

table {
    background-color: white;
    opacity: 0.7;
}

th, td {
    text-align: center;
}

#headings {
    background-color: #a0d03e;
    opacity: 0.7;
}

#yardage {
    background-color: #7eaed6;
    opacity: 0.7;
}

#par {
    background-color: #ffb193;
    opacity: 0.7;
}

#handicap {
    background-color: #ffea22;
    opacity: 0.7;
}

#player2, #player4 {
    background-color: #efefef;
    opacity: 0.5;
}

#player1, #player3 {
    background-color: #efefef;
}

#titlebar { 
    text-align: center;
    background: white;
    opacity: 0.9;
    padding: 10px 0;
    color: #577377;
    font-size: 2.75em;
    margin: 10px 0;
    width: 100%;
}
label {
    color: #a5c442;
    background-color: white;
    opacity: 0.9;
    padding: 10px 5px;
}

input {
    border: none;
    text-align: center;
}
